body, html {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    background: whitesmoke;
}

.container {
    height: 100%;
    width: 100%;
}

.master-header {
    width: 100%;
    height: 20%;
    background-color: #2b4ba7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    }

.content {
    padding: 15px;
    position: relative;
}

.withdrawal-panel {
    position: relative;
    width: 50%;
    height: 300px;
    float: left;
    background-color: white;
}
.withdraw-form h2 {
    text-align: center;
}

.output-panel {

}
body, html {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    background: whitesmoke;
}

.container {
    height: 100%;
    width: 100%;
}

.master-header {
    width: 100%;
    height: 20%;
    background-color: #2b4ba7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    }

.content {
    padding: 15px;
    position: relative;
}

.withdrawal-panel {
    position: relative;
    width: 50%;
    height: 300px;
    float: left;
    background-color: white;
}
.withdraw-panel h2 {
    text-align: center;
}

.output-panel {

}
